.pokedex {
  width: 400px;
  height: 500px;
  margin: 0 auto;
  position: relative;
  border-radius: 10px;
}

.left-side {
  width: inherit;
  height: inherit;
  background-color: red;
  position: absolute;
  border-radius: inherit;
}

.right-side {
  width: inherit;
  height: inherit;
  background-color: blue;
  position: absolute;
  border-radius: inherit;
  left: 100%;
}
