.pokedex {
  width: 400px;
  height: 500px;
  margin: 0 auto;
  position: relative;
  border-radius: 10px;
  perspective: 1000px;
}

.left-side {
  width: inherit;
  height: inherit;
  background-color: red;
  position: absolute;
  border-radius: inherit;
}

.right-side {
  width: inherit;
  height: inherit;
  background-color: blue;
  position: absolute;
  border-radius: inherit;
  left: 100%;
  transform: rotateY(-180deg);
  transform-origin: left;
  transition: 1s;
}

.right-side:hover {
  transform: rotateY(0);
}
