:root {
  --blue: #28AAFD;
  --red: #DC0A2D;
  --gray: #DEDEDE;
  --black: #00312B;
  --btn-blue: #28AAFD;
}

.pokedex {
  width: 400px;
  height: 500px;
  margin: 0 auto;
  position: relative;
  perspective: 1000px;
}

.side {
  width: inherit;
  height: inherit;
  border-radius: 10px;
  background-color: var(--red);
  position: absolute;
  border: 2px solid black;
  box-sizing: border-box;
}

.left {
}

.left .led-area {
  width: calc(100% - 100px);
  margin: 20px;
}

.led {
  border-radius: 50%;
  display: inline-block;
  border: 2px solid black;
  width: 10px;
  height: 10px;
  vertical-align: top;
}

.left .border-main {
  background-color: white;
  width: 60px;
  height: 60px;
}

.led.main {
  background-color: var(--blue);
  width: 50px;
  height: 50px;
  position: relative;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  box-sizing: border-box;
}

.led.first {
  background-color: #ED0A30;
}

.led.second {
  background-color: yellow;
}

.led.third {
  background-color: green;
}

.right-back {
  left: 100%;
  transform: rotateY(-180deg);
  transform-origin: left;
  transition: 1s;
  height: calc(100% - 100px);
  bottom: 0;
  border-top-left-radius: 0;
}

.pokedex:hover .right-back {
  transform: rotateY(0);
}

.right-front {
  transform-origin: right;
  transition: 1s;
  backface-visibility: hidden;
  height: calc(100% - 100px);
  bottom: 0;
  border-top-right-radius: 0;
}

.pokedex:hover .right-front {
  transform: rotateY(180deg);
}

.tab {
  width: 230px;
  height: 80px;
  background-color: var(--red);
  position: absolute;
  bottom: 100%;
  border-radius: 10px;
  border: 1px solid black;
  box-sizing: border-box;
  border-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.front-tab {
  right: -1px;
  border-top-left-radius: 0;
}

.front-tab::before {
  content: '';
  border-left: 40px solid transparent;
  border-top: 40px solid transparent;
  border-right: 40px solid var(--red);
  border-bottom: 40px solid var(--red);
  position: absolute;
  right: calc(100%);
  top: 0;
  filter: drop-shadow(-1px -1px 0 black);
}

.triangle-area {
  height: inherit;
  width: inherit;
}

.triangle {
  content: '';
  border-left: 15px solid yellow;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  position: absolute;
  top: 40%;
  margin-left: 20px;
  filter: drop-shadow(1px 0 0 black) drop-shadow(-1px 0 0 black);
}

.back-tab {
  left: -1px;
  border-top-right-radius: 0;
}

.back-tab::before {
  content: '';
  border-left: 40px solid var(--red);
  border-top: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 40px solid var(--red);
  position: absolute;
  left: 100%;
  top: 0;
  filter: drop-shadow(1px -1px 0 black);
}

.display-border {
  width: calc(100% - 90px);
  height: calc(100% - 250px);
  background-color: var(--gray);
  border: 2px solid black;
  border-radius: 5px;
  margin: 0 auto;
  position: relative;
}

.display-top-leds-area {
  width: 60px;
  height: 40px;
  margin: 0 auto;
  position: relative;
}

.display-top-leds-area .led {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.display-top-leds-area .left {
  left: 10px;
}

.display-top-leds-area .right {
  right: 10px;
}

.display {
  width: 250px;
  height: 170px;
  background-color: black;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border-radius: 10px;
}

.speaker {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 30px;
  bottom: 5px;
}

.speaker .line {
  width: 30px;
  height: 2px;
  margin: 3px 0;
  background-color: black;
}

.internal-tab {
  position: absolute;
  left: -2px;
  bottom: -4px;
  content: '';
  border-top: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid var(--red);
  border-left: 15px solid var(--red);
  box-sizing: border-box;
  filter: drop-shadow(0 -3px 0 black);
}

.display-bottom-led {
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  border: 2px solid black;
  position: absolute;
  bottom: 10px;
  left: 28px;
}

.buttons-area {
  width: 100%;
  height: 200px;
  position: relative;
}

.select-start {
  width: 40px;
  height: 5px;
  border-radius: 10px;
  border: 2px solid black;
  display: inline-block;
  position: absolute;
  top: 20px;
}

.select-start.left {
  background-color: red;
  left: 100px;
}

.select-start.right {
  background-color: blue;
  position: absolute;
  left: 170px;
}

.black-btn-left {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--black);
  border: 2px solid black;
  position: absolute;
  left: 20px;
  top: 30px;
}

.left-bottom-display {
  width: 100px;
  height: 60px;
  background-color: #51AE5F;
  border-radius: 5px;
  border: 2px solid black;
  position: absolute;
  left: 100px;
  top: 50px;
}

.d-pad {
  width: 100px;
  height: 100px;
  position: absolute;
  right: 50px;
  top: 20px;
}

.d-pad > div {
  background-color: var(--black);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: 2px solid black;
  border-radius: 5px;
}

.d-pad .horizontal {
  width: inherit;
  height: 30px;
}

.d-pad .vertical {
  height: inherit;
  width: 30px;
}

.d-pad .no-border {
  width: 34px;
  height: 30px;
  border: none;
  border-radius: 0;
}

.d-pad .center {
  width: 8px;
  height: 8px;
  border: 2px solid black;
  border-radius: 50%;
}

.btn {
  cursor: pointer;
}

.btn:active {
  transform: scale(.9);
}

.left-display {
  width: 270px;
  height: 70px;
  position: absolute;
  background-color: var(--black);
  border-radius: 10px;
  border: 2px solid black;
  top: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.blue-btn-area {
  width: 270px;
  height: 80px;
  position: absolute;
  top: 110px;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
}

.blue-btn-area .btn {
  width: 50px;
  height: 40px;
  background-color: var(--btn-blue);
  border: 2px solid black;
  border-radius: 5px;
}

.black-btn-area {
  position: absolute;
  right: 70px;
  top: 200px;
}

.black-btn-area .btn {
  display: inline-block;
  width: 40px;
  height: 5px;
  background-color: var(--black);
  border-radius: 10px;
  border: 2px solid black;
}

.gray-btn-area {
  position: absolute;
  top: 230px;
  left: 63px;
  display: flex;
}

.gray-btn-area .btn {
  width: 40px;
  height: 30px;
  background-color: var(--gray);
  border-radius: 5px;
  border: 2px solid black;
}
